    {% include 'header.html' %}
    <form method="post" action="/store" enctype="multipart/form-data">
    
    Cedula:
    <input type="text" name="txtCedula" id="txtCedula" required>
    <br>
    Lugar de Expedición:
    <input type="text" name="txtLugarExpedicion" id="txtLugarExpedicion">
    <br>
    Nombres:
    <input type="text" name="txtNombres" id="txtNombres">
    <br>
    Apellidos:
    <input type="text" name="txtApellidos" id="txtApellidos">
    <br>
    Teléfono:
    <input type="text" name="txtTelefono" id="txtTelefono">
    <br>
    Email:
    <input type="text" name="txtEmail" id="txtEmail">
    <br>
    Empresa donde laboro:
    <input type="text" name="txtEmpresaLaboro" id="txtEmpresaLaboro">
    <br>
    Cargo que desempeño:
    <input type="text" name="txtCargo" id="txtCargo">
    <br>
    Fecha en la que inicio:
    <input type="text" name="txtFechaInicio" id="txtFechaInicio">
    <br>
    Fecha en la que se retiró:
    <input type="text" name="txtFechaRetiro" id="txtFechaRetiro">
    <br>
    Fecha de Nacimiento:
    <input type="text" name="txtFechaNacimiento" id="txtFechaNacimiento">
    <br>
    Fondo de pensión en el que estuvo afiliado:
    <input type="text" name="txtFondoPension" id="txtFondoPension">
    <br>
    Foto:
    <input type="file" name="txtFoto" id="txtFoto" required>
    <br>
    <br>
    <input type="submit" value="Agregar">
    </form>
{% include 'footer.html' %}